.hero__pages {
  background: $whitehero;
  border-radius: 2rem;
  margin: 1rem 0;
  .wreapper__sec {
    justify-content: space-between;
  }
  .cole {
    padding: 4.5rem;
  }
  .col__img {
    object-fit: cover;
    margin: -0.4rem;
  }
  overflow: hidden;
  .title {
    font-size: 3.5rem;
    font-weight: 500;
  }
  .title__paragraph {
    margin-top: 1.5rem;
    font-size: 2rem;
    color: $whiteGray;
  }
  .sec__wreap {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(
      0deg,
      rgb(3, 185, 54) 0%,
      rgba(102, 247, 113, 1) 100%
    );
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 1rem;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .sec__wreap:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
  }

  .sec__wreap:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
  }
}
.section__dastavke {
  padding: 4.5rem;
  background-color: $secondary;
  border: 2px solid $secondary;
  border-radius: 2rem;
  .sec__wreap {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(
      0deg,
      rgba(20, 167, 62, 1) 0%,
      rgba(102, 247, 113, 1) 100%
    );
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 1rem;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .sec__wreap:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
  }

  .sec__wreap:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
  }
  .img__wreapper {
    object-fit: cover;
    width: 40rem;
  }
  .wreapper__sec {
    justify-content: space-between;
  }
  .title__wreapper {
    display: flex;
    justify-content: center;
    flex-flow: column;
  }
}

.card__wreapper.row {
  gap: 20px;
}
.card__wreapper.row .col {
  flex: 1 250px;
}

.homepage {
  position: relative;
  .img__home {
    position: absolute;
    top: 45%;
    left: 45%;
  }
}
.category__type {
  .category {
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    .category__link {
      margin-right: 2.5rem ;
      // width: 100%;
      background-color: #c2fbd7;
      border-radius: 1rem;
      box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
        rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
        rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
        rgba(44, 187, 99, 0.15) 0 16px 32px;
      color: $mainGreen;
      cursor: pointer;
      padding: .8rem 2.5rem;
      text-align: center;
      text-decoration: none;
      transition: all 250ms;
      border: 0;
      font-size: 1.6rem;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      text-transform: capitalize;
    }
    .category__link:hover {
      box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
        rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
        rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
        rgba(44, 187, 99, 0.25) 0 16px 32px;
      transform: scale(1.15) rotate(0deg);
    }
    .category__link:hover {
      background-color: $mainWhite;
      cursor: pointer;
    }
  }
}


// .category.row .col {
//   flex: 1 150px;
// }

// .category {
//   flex-direction: row;
//   overflow-x: auto;
// }
//   padding: 1rem 0; 
//   overflow-x: auto;
//   overflow-y: hidden;
// }
// .category::-webkit-scrollbar {
//   height: 8px;
// }
// .category::-webkit-scrollbar-track {
//   border-radius: 15px;
//   padding: 1px;
// }
// .category::-webkit-scrollbar-thumb {
//   background-color: #dbdbdb;
//   border-radius: 15px;
// }

.hFrbFX .form__inp {
  display: block;
  width: 100%;
  height: calc(1.6em + 1.625rem);
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: rgb(30, 32, 34);
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  border: 1px solid rgb(231, 234, 243);
  border-radius: 0.3125rem;
}

.hFrbFX .form__block {
  width: 100%;
  padding-right: 30px;
}

.hFrbFX .w-100 {
  width: 100%;
}

.hFrbFX .form__inner {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.hFrbFX .form__title {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: rgb(30, 32, 34);
}

.hFrbFX .form {
  margin-top: 25px;
}
.hFrbFX .title {
  color: rgb(30, 32, 34);
  font-size: 20px;
  margin: 0px;
}

.hFrbFX .form__inp-box {
  max-width: 16px;
  min-width: 16px;
  max-height: 16px;
  min-height: 16px;
  margin-right: 8px;
  cursor: pointer;
}
.hFrbFX .form__inner-item label {
  cursor: pointer;
  color: rgb(140, 152, 164);
  font-size: 14px;
}

.hFrbFX .form__inner-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}