.user__order {
    border: 1px solid;
    padding: 1rem;
    margin-bottom: 1rem;
}

.order__all--user {
    font-size: 1.6rem;
    
}
.caunts {

    background-color: #f6f8f9;
        border: 1px solid #f6f8f9;
        border-radius: 2rem;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        padding: 0.7rem 1.7rem;
        display: flex;
}