.sign__upp #sign__in-wreapper {
  border: 1px solid rgba(86, 86, 86, 0.185);
  width: 70%;
  margin: 3rem auto;
  height: 78vh;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 50px 4px rgba(86, 86, 86, 0.2);
  -moz-box-shadow: 0px 0px 50px 4px rgba(86, 86, 86, 0.2);
  box-shadow: 0px 0px 50px 4px rgba(86, 86, 86, 0.2);
  padding: 3rem;
  display: flex;
  align-items: center;
  .col__wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  #img__wreapper-sign {
    margin-right: 3rem;
  }
  .wreappers {
    display: flex;
    padding-bottom: 1rem;
    .wreap__img {
      width: 8rem;
    }
  }
  .btn__wreapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    .signin__btn {
      border: 2px solid $mainGreen;
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: $mainWhite;
    background-color: $mainGreen;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    }
    .btn__inline {
    font-weight: 600;
    color: $mainGreen;
    }
  }
  .input__location {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    
    .input__disgn {
      padding: .5rem;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid;
    }
    .input__disgn:focus-visible {
      outline: none;
      background-color: $mainWhite;
    }
    .input__disgn:focus {
      color: rgb(4, 102, 45);
      background-color: $mainWhite;

    }
    .input__disgn:checked {
      background-color: $mainWhite;
    }
  }
  .login__title {
    font-weight: 500;
  }
  .login__admin {
    .btn__inline {
      font-weight: 600;
      color: #dbdbdba4;
    }

  }
}
