.card {
  position: relative;
  background-color: #fff;
  border-radius: 1rem;
  &.show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
  }
  .card__title {
    text-transform: capitalize;
  }
  .card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 1rem;
    overflow: hidden;
  }
  .card__body {
    width: 100%;
    padding: 1rem;
    .card__title {
      padding-top: 1rem;
      &:hover {
        color: $mainGreen;
      }
      cursor: pointer;
    }
    .card__discription {
      padding-top: 0.6rem;
    }
    .card__count {
      padding-top: 1rem;
      display: flex;
      justify-content: space-between;
    }
    .card__btn {
      display: flex;
      justify-content: center;
      padding:1.2rem 2rem;
      .btns {
        background-color: #05f55d;
        border-radius: 1rem;
        box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
          rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
          rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
          rgba(44, 187, 99, 0.15) 0 16px 32px;
        color: $mainWhite;
        cursor: pointer;
        display: inline-block;
        font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto,
          sans-serif;
        padding: .5rem 1.5rem;
        text-align: center;
        text-decoration: none;
        transition: all 250ms;
        border: 0;
        font-size: 1.6rem;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }
      .btns:hover {
        box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
          rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
          rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
          rgba(44, 187, 99, 0.25) 0 16px 32px;
        transform: scale(1.05) rotate(0deg);
      }
    }
    .card__btns {
      display: flex;
      justify-content: space-between;
      .btns {
        margin-top: 2.5rem;
        border: 1px solid $mainGreen;
        padding: 0.2rem 0.3rem;
        border-radius: 0.8rem;
        background-color: $mainGreen;
        color: $mainWhite;
        cursor: pointer;
      }
    }
  }
}
.align__center {
  display: flex;
  justify-content: center;
}
