.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgba(37, 37, 35, 0.356);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: $mainWhite;
  padding: 2rem 3rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
  .titlecart {
    font-size: 2.2rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    letter-spacing: 0.35px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-bottom: 1rem;
  }
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 400px;
  }
}

.close-cart {
  font-size: 2.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}

.cart-btn {
  position: relative;
  cursor: pointer;
}

.cart-items {
  position: absolute;
  top: -7px;
  right: -9px;
  background: $mainGreen;
  padding: 0 3px;
  border-radius: 30%;
  color: $mainWhite;
  font-size: 1rem;
}
.cart-item {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  align-items: center;
  .cart__img--wreapper {
    width: 65px;
    height: 65px;
  }
  .caunts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f6f8f9;
    padding: 0.7rem 1.7rem;
    border: 1px solid #f6f8f9;
    border-radius: 2rem;
    margin-top: 1rem;
    .added__product {
      cursor: pointer;
    }
  }
}
.close-cart {
  display: flex;
  justify-content: end;
}
.price__count {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  color: rgb(48, 155, 66);
  letter-spacing: 0.38px;
}
.discription__cart {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: rgb(154, 166, 172);
  letter-spacing: 0.08px;
  max-width: 178px;
  height: 40px;
  overflow: hidden;
}

.cart-footer {
  display: flex;
  flex-flow: column;
  justify-content: end;
  bottom: 2rem;
  padding-top: 1rem;
  .clear-cart {
    width: 100%;
    background-color: #309b42;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.41px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    border: 0;
    padding: 17px 0;
  }
  .wreapper__item-footer {
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
    line-height: 6rem;
    font-weight: 700;
    .cart-total{
      color: #309b42
    }
  }
}

