header {
  height: 9rem;
  width: 100%;
  border-bottom: 1px solid $drobdawn-bordr;
  margin: auto;
  box-shadow: 1px 1px 10px 1px $drobdawn-bordr;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo__link {
    width: 10rem;
    cursor: pointer;
  }
  .nav__menu {
    display: flex;
    align-items: center;
    .nav__item {
      margin-right: 7rem;
      font-size: 1.8rem;
      font-weight: 500;
      cursor: pointer;
      a {
        color: $mainBlack;
      }
    }
  }
  .connect {
    display: flex;
    align-items: center;
    justify-content: center;
    .nav__item {
      margin-left: 4rem;
      font-size: 1.8rem;
      font-weight: 500;
      cursor: pointer;
      a {
        color: $mainBlack;
      }
    }
    .nav__item--link img {
      width: 2.5rem;
    }
  }
  #account__login {
    border: 2px solid $mainGreen;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    color: $mainGreen;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .nav__item--link {
    position: relative;
    &.show::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(20px);
      border-radius: 10px;
    }
  }
  .show.nav__content {
    display: flex;
    flex-direction: column;
  }
  .nav__content {
    position: absolute;
    top: -1.3rem;
    left: -1.2rem;
    display: none;
    font-size: 1.6rem;
    background-color: $mainWhite;
    padding: 1rem 1.5rem;
    -webkit-box-shadow: 0px -1px 10px 2px rgba(38, 255, 0, 0.2);
    -moz-box-shadow: 0px -1px 10px 2px rgba(38, 255, 0, 0.2);
    box-shadow: 0px -1px 10px 2px rgba(38, 255, 0, 0.2);
    border-radius: 1rem;
    .added__content {
      padding: 0.5rem 0;
      a {
        color: $mainBlack;
      }
    }

    // display: none;
  }
}
.hide {
  display: none;
}

.nav__smaller {
  .nav__item {
    padding: 1rem;
    background-color: $mainGreen;
    margin-top: 1rem;
    border-radius: 1rem;
    a {
      color: $mainWhite;
      img {
        color: $mainWhite;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    ul.nav__menu {
      display: none;
    }
    ul.connect {
      display: none;
    }
    
  }

  .small__header {
    i {
      color: $mainGreen;
      font-size: 2rem;
      cursor: pointer;
    }
  }
}
@media screen and (min-width: 601px) {
  .navbar {
    .small__header {
      display: none;
    }
  }
}
