header {
  height: 9rem;
  width: 100%;
  border-bottom: 1px solid $drobdawn-bordr;
  margin: auto;
  box-shadow: 1px 1px 10px 1px $drobdawn-bordr;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo__link {
    width: 10rem;
    cursor: pointer;
  }
  .nav__menu {
    display: flex;
    align-items: center;
    .nav__item {
      margin-right: 7rem;
      font-size: 1.8rem;
      font-weight: 500;
      cursor: pointer;
      a {
        color: $mainBlack;
      }
    }
  }
  .connect {
    display: flex;
    align-items: center;
    justify-content: center;
    .nav__item {
      margin-left: 4rem;
      font-size: 1.8rem;
      font-weight: 500;
      cursor: pointer;
      a {
        color: $mainBlack;
      }
    }
    .nav__item--link img {
      width: 2.5rem;
    }
  }
  #account__login {
    border: 2px solid $mainGreen;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    color: $mainGreen;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .hide {
    display: none;
  }
}
