header {
  height: 9rem;
  width: 100%;
  border-bottom: 1px solid $drobdawn-bordr;
  margin: auto;
  box-shadow: 1px 1px 10px 1px $drobdawn-bordr;
}
.navbar {
  display: grid;
  grid-template-columns: 1fr repeat(3, fit-content(150px));
  align-items: center;
  .logo__link {
    width: 10rem;
    cursor: pointer;
  }
  .logo__link:hover {
    transform: scale(1.25) rotate(0deg);
  }
  .nav__menu {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 10px;
    .nav__item {
      z-index: 10;   
      font-weight: 500;
      cursor: pointer;
      a {
        color: $mainBlack;
      }
    }
    .nav__item:hover {
      transform: scale(1.05) rotate(0deg);
    }
  }
  .connect {
    display: flex;
    align-items: center;
    justify-content: center;
    .nav__item {
      margin-left: 4rem;
      font-size: 1.8rem;
      font-weight: 500;
      cursor: pointer;
      a {
        color: $mainBlack;
      }
    }
    
    .nav__item--link img {
      width: 2.5rem;
    }

  }
  .account__state {
    display: flex;
  }
  #account__login {
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    color: $mainWhite;
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    color: white;
    background: #ad5389;
    background: linear-gradient(to right, $primaryy,$secondaryyy);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100px;
  }
  #account__login:hover {
    box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
      rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
      rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
      rgba(44, 187, 99, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(0deg);
  }
  #account__login__up {
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    color: $mainWhite;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    color: white;
    background: #ad5389;
    background: linear-gradient(to right, $primaryy,$secondaryyy);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100px;
  }
  #account__login__up:hover {
    box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
      rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
      rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
      rgba(44, 187, 99, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(0deg);
  }
  .nav__item--link {
   
    position: relative;
    &.show::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(20px);
      border-radius: 10px;
    }
  }
  .show.nav__content {
    display: flex;
    flex-direction: column;
    z-index: 10;
  }
  .nav__content {
    position: absolute;
    top: -1.3rem;
    left: -1.2rem;
    display: none;
    font-size: 1.6rem;
    background-color: $mainWhite;
    padding: 1rem 1.5rem;
    -webkit-box-shadow: 0px -1px 10px 2px rgba(38, 255, 0, 0.2);
    -moz-box-shadow: 0px -1px 10px 2px rgba(38, 255, 0, 0.2);
    box-shadow: 0px -1px 10px 2px rgba(38, 255, 0, 0.2);
    border-radius: 1rem;
    .added__content {
      padding: .5rem 1.2rem;
      a {
        color: $mainBlack;
      }
    }
    .added__content:hover{
      color: #ad5389;
    }

    // display: none;
  }
  .nav__data {
    text-transform:capitalize;

  }
}
.hide {
  display: none;
}

.nav__smaller {
  .nav__item {
    padding: 1rem;
    background-color: $mainGreen;
    margin-top: 1rem;
    border-radius: 1rem;
    a {
      color: $mainWhite;
      img {
        color: $mainWhite;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    ul.nav__menu {
      display: none;
    }
    ul.connect {
      display: none;
    }
    
  }

  .small__header {
    i {
      color: $mainGreen;
      font-size: 2rem;
      cursor: pointer;
    }
  }
}
@media screen and (min-width: 601px) {
  .navbar {
    .small__header {
      display: none;
    }
  }
}
